/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --background-color: #000000;
  --text-color: #ffffff;
  --primary-color: #ffffff;
  --secondary-color: #b0b0b0;
  --surface-color: #1a1a1a;
  --header-background: rgba(0, 0, 0, 0.8);
  --footer-background: linear-gradient(to right, #1a1a1a, #000000);
  --card-background: linear-gradient(145deg, #1c1c1c, #0d0d0d);
  --border-color: #333333;
  --background-gradient: linear-gradient(to bottom right, #000000, #1a1a1a);
  --card-gradient: linear-gradient(to bottom right, #1c1c1c, #0d0d0d);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}
