/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #bb86fc;
  --secondary-color: #03dac6;
  --surface-color: #1e1e1e;
  --header-background: rgba(30, 30, 30, 0.8);
  --footer-background: linear-gradient(to right, #1b3053, #110331);
  --card-background: #2c2c2c;
  --border-color: #444;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}
